@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

$fontHadlee: 'Handlee', cursive;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $fontHadlee;

  .container {
    margin: 2rem auto;
    background: #efefef;
    padding: 2rem;
    border-radius: 2rem;
    width: 80rem;
    h1 {
      font-size: 3.8rem;
      font-weight: bold;
      text-align: center;
    }
    h2 {
      font-size: 2.6rem;
    }
    h3 {
      font-size: 2.2rem;
    }
    p {
      font-size: 2rem;
    }
    button {
      font-size: 2rem;
      width: 20%;
    }
    input {
      font-size: 2rem;
      width: 40%;
    }
    form {
      text-align: center;
    }
  }
}
